@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO+Guides&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.playwrite-ro-guides-regular {
  font-family: "Playwrite RO Guides", serif;
  font-weight: 400;
  font-style: normal;
}

.rayado {
  background: repeating-linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.1) 0px,
          rgba(0, 0, 0, 0.1) 10px,
          rgba(0, 0, 0, 0.9) 10px,
          rgba(0, 0, 0, 0.9) 20px
  );
  height: 100%;
  width: 100%;
}

h2 {
    font-family: "Dancing Script", cursive;
}

p {
    font-family: "Silkscreen", serif;
}